body {
    
    color                 : #AAAAAA;
    background-color      : #191818;
    width                 : 100%;
    
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    -khtml-user-select    : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;    
    
    margin-left   : 0px !important;
    margin-right  : 0px !important;
    margin-top    : 15px !important;
    margin-bottom : 0px !important; 

    font-size : 10px;
    
}

canvas {
    
    position : absolute;
    top      : 10px;
    left     : 285px;    
    margin   : 0px;
    padding  : 0px;    
}

#clock {
    
    color   : white;
    background-color : transparent;
    z-index : 10;
    
}

#tabs {
    
  width  : 230px;
  float  : left; 
  padding : 10px;
  margin-left  : 10px; 
  margin-right : 10px;   
  
}

.tab {

  
}

canvas[style] {
    
    margin-left  : 0px !important;
    margin-right : 0px !important;

}

.slidersection {
    
    margin : 20px;
    float  : left;    
}

.slider {

}

.ui-slider .ui-slider-handle {
    
    left         : 30px;
    height       : 20px;
    width        : 8px;
    margin-left: -6px;
    
}

.ui-slider.ui-slider-horizontal {
    
    height       : 10px;
    width        : 200px;
    padding      : 0px;
    
}

.ui-checkbox {
    
    height       : 20px;
    width        : 20px;
    padding      : 0px; 
    margin-top   : 5px !important;    
    margin-right : 10px !important;
        
}

label.checkboxlabel {
    
    position   : relative;
    top        : 4px;
    
}

.indent {
    
    margin-left : 30px;
    width : 30px;
    
}

#disabledebugtext {
    
    position : relative;
    left     : -6px;
    
}

.buttontext {
    
    font-size  : 15px;
    width      : 200px;
    height     : 20px;
    padding    : 5px;
    margin     : 0px;
    text-align : center;
    
}

select {

    width: 200px;
    
}

.overflow {
    
    height: 200px;
    
}
